@model Input.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Вход";
}

<div class="container mt-5">
    <div class="row bg-secondary shadow p-3 mb-5 bg-white rounded m-2">
        <div class="col-6 col-md-4">
            <h2 class="display-5">Вход</h2>
            <a asp-action="Register" asp-controller="Account" class="">Регистрация</a>
            <form class="form-group" method="post" asp-controller="Account" asp-action="Login"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName">Имя</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" name="UserName" placeholder="Введите имя">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Пароль</label>
                    <input type="password" class="form-control" aria-describedby="emailHelp" name="Password" placeholder="Введите пароль">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" style="background-color: #2d6073">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    body{
        margin: 0px; 
    }
</style>