
<div class="container">
<div class="row bg-secondary shadow p-3 mb-5 bg-white rounded mt-5">
    <div class="col-10 col-md-5"><a style="text-decoration: none; color: #000 !important;" href="/Profile/MyProfile/@ViewData["User"]">Профиль пользователя как свой</a></div>
    <div class="col-10 col-md-5"><a style="text-decoration: none; color: #000 !important;" href="/Profile/UserProfile/@ViewData["User"]">Профиль как чужой</a></div>
</div>
</div>